[phases.setup]
nixPkgs = ['php81', 'php81Packages.composer', 'nginx', 'nodejs_18']

[phases.build]
cmds = [
  'composer install --ignore-platform-reqs --no-scripts',
  'php artisan package:discover --ansi',
  'npm ci',
  'npm run prod',
  'chmod +x /app/start.sh'
]

[start]
cmd = 'bash /app/start.sh'
