[phases.setup]
nixPkgs = ['php81', 'php81Packages.composer', 'nginx', 'nodejs_18']

[phases.build]
cmds = [
  'composer install --ignore-platform-reqs --no-scripts',
  'php artisan package:discover --ansi',
  'npm ci',
  'npm run prod',
  'chmod +x /app/start.sh',
  'nginx -V 2>&1 | grep -o -- "--conf-path=[^ ]*" | cut -d= -f2 > /app/nginx_conf_path.txt',
  'cat /app/nginx_conf_path.txt'
]

[start]
cmd = 'bash /app/start.sh'
